@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap);* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Poppins",Helvetica,sans-serif;
    background-color: #f7f7f7
}

.container {
    max-width: 1140px;
    margin: auto
}

.row {
    display: flex;
    flex-wrap: wrap
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.5s ease;
    z-index: 1000
}

nav {
    display: flex;
    height: 15vh;
    transition: height 0.5s ease
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    margin-left: 5%;
    color: #272725;
    text-transform: uppercase
}

.nav-links {
    display: flex;
    list-style: none;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto
}

.nav-links .link {
    color: #272725;
    text-decoration: none;
    font-weight: 500;
    position: relative
}

.nav-links .link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #20ca36;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease
}

.nav-links .link:hover::after {
    transform: scaleX(1)
}

.scrolling-active {
    background-color: #424242;
    box-shadow: rgba(0,0,0,.2) 0 12px 28px 0,rgba(0,0,0,.1) 0 2px 4px 0,rgba(255,255,255,.05) 0 0 0 1px inset
}

.scrolling-active nav {
    height: 10vh
}

.scrolling-active .logo {
    color: #f3f3f3;
    font-weight: 600
}

.scrolling-active .nav-links .link {
    color: #f3f3f3
}

.scrolling-active .burger .line {
    background-color: #f3f3f3
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: space-around
}

.image-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    margin-top: 60px
}

.image-page img {
    width: 100%
}

.text-landing {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px
}

.text-landing .highlight {
    color: #09b11f
}

.text-landing h1 {
    font-weight: 700;
    font-size: 2.6rem
}

.text-landing .btn {
    margin-top: 25px
}

.vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 50px;
    border: 2px solid #0bca25;
    font-size: 18px;
    cursor: pointer
}

.vertical .text {
    position: relative;
    color: transparent;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#ffffff),color-stop(50%,#ffffff),color-stop(50%,#0bca25),to(#0bca25));
    background-image: linear-gradient(0deg,#ffffff 0%,#ffffff 50%,#0bca25 50%,#0bca25 100%);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0 0;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-position 300ms;
    -webkit-transition: background-position 300ms
}

.vertical::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0bca25;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale3d(1,0,1);
    transform: scale3d(1,0,1);
    -webkit-transition: -webkit-trasnform 300ms;
    transition: -webkit-trasnform 300ms;
    transition: transfrom 300ms;
    transition: transform 300ms,-webkit-transform 300ms
}

.vertical:hover .text {
    background-position: 0 100%
}

.vertical:hover::before {
    transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1)
}

.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0
}

.about .container {
    position: relative;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.about .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0
}

.about .container .card:nth-child(odd) {
    flex-direction: row
}

.about .container .card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right
}

.about .container .card .imgBx {
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1
}

.about .container .card:nth-child(even) .imgBx {
    left: -25px
}

.about .card .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.about .card .content_box::before {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #272725;
    z-index: -1
}

.about .card .content_box {
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #272725;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px
}

.about .container .card:nth-child(even) .content_box {
    right: -25px;
    padding: 20px 100px 20px 60px
}

.about .card .content_box p {
    color: #f3f3f3;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    word-spacing: 2px
}

.about .card .content_box a {
    display: inline-block;
    color: #f3f3f3;
    text-decoration: none;
    border: 1px solid #f3f3f3;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px
}

.title {
    flex: 0 0 100%;
    max-width: 100%
}

.title h1 {
    position: relative;
    display: inline-block;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #272725;
    margin: 0 0 10px 5%;
    letter-spacing: 3px
}

.title h1::before {
    position: absolute;
    content: "";
    background-color: #50ec12;
    left: 0;
    right: 30%;
    height: 4px;
    bottom: 0
}

.text_center {
    text-align: center!important
}



.testimonials {
    background-size: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex
}

.testimonials .slider {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    position: relative
}

.testimonials .slider .slide {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center
}

.testimonials .slider .slide .slide-text {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(svg/pattern-quotes.svg) no-repeat top center;
    background-size: 100px
}

.testimonials .slider .slide .slide-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 40px;
    background: url(svg/pattern-quotes.svg) no-repeat center;
    background-size: contain
}

.testimonials .slider .slide .slide-text .testi-text {
    width: 80%;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: hsl(240,38%,20%)
}

.testimonials .slider .slide .slide-text .author {
    margin-top: 20px;
    color: hsl(240,38%,20%);
    font-weight: 600;
    font-size: .7rem
}

.testimonials .slider .slide .slide-text .author span {
    color: hsl(240,18%,77%);
    font-weight: 500;
    display: block
}

.testimonials .slider .slide .slide-img img {
    width: 100%;
    height: 100%
}

.testimonials .slider .button {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    width: 90px;
    height: 45px;
    box-shadow: -20px 12px 20px 0 hsla(240,18%,77%,.52);
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden
}

.testimonials .slider .button .next,.testimonials .slider .button .prev {
    display: inline-block;
    width: 50%;
    height: 100%;
    position: absolute;
    cursor: pointer
}

.testimonials .slider .button .prev {
    left: 0
}

.testimonials .slider .button .next {
    right: 0
}

.testimonials .slider .button .prev:hover,.testimonials .slider .button .next:hover {
    background-color: rgba(10,255,0,.1)
}

.testimonials .slider .button .next::after,.testimonials .slider .button .prev::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: no-repeat center;
    background-size: auto
}

.testimonials .slider .button .next::after {
    background-image: url(../img/svg/icon-next.svg)
}

.testimonials .slider .button .prev::after {
    background-image: url(../img/svg/icon-prev.svg)
}

footer {
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #f3f3f3
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 1rem 0 2rem 0
}

.socials li {
    margin: 0 10px
}

.socials a {
    text-decoration: none;
    color: #f3f3f3
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.5s ease
}

.socials a:hover i {
    color: #50ec12
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize
}

.footer-bottom a {
    color: aqua;
    opacity: .6;
    font-weight: 400;
    text-decoration: none
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width:50%
    }

    .about .container .card {
        flex-direction: column;
        max-width: 100%;
        margin: 25px
    }

    .about .container .card .imgBx {
        width: 100%;
        height: 250px;
        left: 0
    }

    .about .container .card .content_box {
        width: 100%;
        height: 100%;
        right: 0;
        padding: 30px;
        text-align: center
    }

    .about .container .card .content_box::before {
        top: 0;
        bottom: 0
    }

    .about .container .card:nth-child(even) .imgBx {
        left: 0
    }

    .about .container .card:nth-child(even) .content_box {
        right: 0;
        padding: 30px
    }

    .title {
        flex: 0 0 98%;
        max-width: 98%
    }
}

@media screen and (max-width: 768px) {
    .line {
        width:30px;
        height: 3px;
        background: #272725;
        margin: 5px;
        border-radius: 3px
    }

    nav {
        position: relative
    }

    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 1
    }

    .nav-links {
        position: fixed;
        background: #20ca36;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        pointer-events: none;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1.5s ease-out
    }

    .nav-links.open {
        clip-path: circle(1400px at 90% -10%);
        -webkit-clip-path: circle(1400px at 90% -10%);
        pointer-events: all
    }

    .nav-links li {
        opacity: 0
    }

    .nav-links li a {
        font-size: 1.4em;
        color: #ffffff!important
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.35s
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.45s
    }

    li.fade {
        opacity: 1
    }

    .image-page {
        display: none
    }

    .title {
        flex: 0 0 95%;
        max-width: 95%
    }

    .about {
        margin-bottom: 50px
    }

    .about .container .card {
        max-width: 100%;
        margin: 25px 0!important
    }

    .testimonials .slider .slide .slide-img img {
        width: 400px
    }

    .testimonials .slider .button {
        top: 65%
    }
}

.testimonials .slider .slide-2 {
    display: none
}

@media screen and (max-width: 640px) {
    .landing-page {
        width:100%;
        height: 100vh
    }

    .landing {
        height: 100vh
    }

    .logo {
        font-size: 24px;
        letter-spacing: 1px
    }

    .burger {
        align-items: center
    }

    .text-landing h1 {
        font-size: 30px
    }

    .testimonials .slider .slide .slide-img img {
        width: 230px
    }

    .testimonials .slider .button {
        top: 45%;
        width: 80px;
        height: 35px
    }

    .title {
        flex: 0 0 90%;
        max-width: 90%;
        margin: 10px
    }

    .title h1 {
        font-size: 28px
    }

    .title h1::before {
        left: 0;
        right: 40%
    }

    .footer-content h3 {
        max-width: 90%;
        font-size: 1.8rem
    }

    .footer-content p {
        max-width: 70%;
        text-align: center;
        font-size: 12px
    }

    .footer-bottom p {
        font-size: 12px
    }
}

@media screen and (min-width: 768px) {
    .testimonials .slider .slide {
        flex-direction:row;
        text-align: left
    }

    .testimonials .slider .slide .slide-text {
        background-position: 10% top;
        background-size: 100px;
        align-items: flex-start
    }

    .testimonials .slider .slide .slide-img {
        margin-left: -100px;
        z-index: -1
    }

    .testimonials .slider .slide .slide-img img {
        width: 400px
    }

    .testimonials .slider .button {
        top: 415px;
        transform: translate(0);
        left: calc(100% - 400px)
    }
}
